_ReSharper*
bin
Bin
_bin_deployableAssemblies/*
obj
*.user
*.patch
*.hg
*.sln.cache
*.orig
*.suo
*.vs10x
*.vs11x
*.vsp
*.psess
*.docstates
TestResults
[Tt]humbs.db
DebugConstants.cs
*.log
packages/*
Playr.Web/App_Data/*
playr.web/properties/PublishProfiles/*
.JustCode
*ncrunch*