<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- Override this setting to control the URL for Playr. The default is port 5555. -->
    <add key="Playr:Url" value="http://localhost:5555/" />
    <!-- Override this setting to control the number of the songs in the playr queue. -->
    <add key="Playr:QueueLength" value="10" />
    <!-- Fanart API Key -->
    <add key="Playr:FanartApiKey" value="" />
    <!--
    Use this key to turn on the embedded RavenDB server. Can be useful for data spelunking during debug.
    Note that the embedded server is always on with Debug builds of the application; this flag only
    affects Release builds. Embedded RavenDB always runs on port 8080.
    -->
    <add key="RavenDB:Embedded" value="false" />
    <add key="webPages:Enabled" value="false" />
  </appSettings>
  <system.web.webPages.razor>
    <pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
      <namespaces>
        <add namespace="Nancy.ViewEngines.Razor" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
</configuration>