<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.SignalR.Core" version="1.0.0-rc1-121218" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Owin" version="1.0.0-rc1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net45" />
  <package id="Nancy" version="0.14.1" targetFramework="net45" />
  <package id="Nancy.Hosting.Owin" version="0.14.1" targetFramework="net45" />
  <package id="Nancy.Viewengines.Razor" version="0.14.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="NLog" version="2.0.0.2000" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="RavenDB.Client" version="1.2.2045-Unstable" targetFramework="net45" />
  <package id="RavenDB.Database" version="1.2.2045-Unstable" targetFramework="net45" />
  <package id="RavenDB.Embedded" version="1.2.2045-Unstable" targetFramework="net45" />
  <package id="taglib" version="2.1.0.0" targetFramework="net45" />
</packages>