<!DOCTYPE html>
<html>
<head>
    <title>Playr</title>
    <script src="scripts/modernizr.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/jquery-ui-1.10.1.css"/>
    <link rel="stylesheet" href="css/site.css"/>
</head>
<body>
    @RenderBody()
    <script src="scripts/jquery-1.9.1.js"></script>
    <script src="scripts/jquery-ui-1.10.1.js"></script>
    <script src="scripts/bootstrap.js"></script>
</body>
</html>