<!DOCTYPE html>
<html>
<head>
    <title>Playr</title>
    <script src="scripts/modernizr.js"></script>
    <link rel="stylesheet" href="css/fullscreen.css"/>
    <link rel="stylesheet" href="css/playr.fanart.css"/>
    <link rel="stylesheet" href="css/playr.timeline.css"/>
</head>
<body>
<!-- ko if: (name() === "") -->
    <h1>Loading...</h1>
    <h2>Please Wait</h2>
<!-- /ko -->
<!-- ko ifnot: (name() === "") -->
    <div data-bind="widget: { name: 'fanart', options: { urls: fanart } }"></div>

    <section class="content">
        <div id="currentTrack">
            <div data-bind="foo: albumArtUrl">
            </div>
            @*<div id="albumArtContainer">
                <div id="albumArt">
                    <div class="front face"><img data-bind="attr: { src: albumArtUrl }" /></div>
                    <div class="back face"></div>
                </div>
            </div>*@
            <div class="text">
                <hgroup>
                    <h1 data-bind="text: name"></h1>
                    <h2 data-bind="text: artistName"></h2>
                </hgroup>
                <section data-bind="widget: { name: 'timeline', options: { currentPosition: currentTime, total: totalTime } }"></section>
            </div>
        </div>
    </section>
<!-- /ko  -->

    <script src="scripts/jquery-1.9.1.js"></script>
    <script src="scripts/jquery-ui-1.10.1.js"></script>
    <script src="scripts/jquery.signalR-1.0.0.js"></script>
    <script src="scripts/jquery.transit.min.js"></script>
    <script src="scripts/knockout-2.2.1.js"></script>
    <script src="scripts/playr.js"></script>
    <script src="scripts/playr.knockout.js"></script>
    <script src="scripts/playr.fanart.js"></script>
    <script src="scripts/playr.cycle.js"></script>
    <script src="scripts/playr.fullscreen.js"></script>
    <script src="scripts/playr.timeline.js"></script>
    <script src="/signalr/hubs"></script>

</body>
</html>