<!DOCTYPE html>
<html>
<head>
    <title>Playr</title>
    <script src="scripts/modernizr.js"></script>
    <link rel="stylesheet" href="css/fullscreen.css"/>
</head>
<body>
<!-- ko if: (name() === "") -->
    <h1>Loading...</h1>
    <h2>Please Wait</h2>
<!-- /ko -->
<!-- ko ifnot: (name() === "") -->
    <section class="fanart" data-bind="foreach: fanart">
        <div data-bind="style: {backgroundImage: ('url('+ $data + ')') }" />
    </section>
    <section class="content">
        <div id="currentTrack">
            <div id="albumArtContainer">
                <div id="albumArt">
                    <div class="front face"><img data-bind="attr: { src: albumArtUrl }"></div>
                    <div class="back face"></div>
                </div>
            </div>
            <div class="text">
                <hgroup>
                    <h1 data-bind="text: name"></h1>
                    <h2 data-bind="text: artistName"></h2>
                </hgroup>
                <div id="timeline">
                    <div id="timelineText">
                        <h3 id="currentPosition" data-bind="time: currentTime"></h3>
                        <h3 id="trackLength" data-bind="time: totalTime"></h3>
                    </div>
                    <div id="progressBar">
                        <div id="progress"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- /ko  -->

    <script src="scripts/jquery-1.9.1.js"></script>
    <script src="scripts/date.js"></script>
    <script src="scripts/time.js"></script>
    <script src="scripts/knockout-2.2.1.js"></script>
    <script src="scripts/playr.js"></script>
    <script src="scripts/playr.knockout.js"></script>
    <script src="scripts/playr.cycle.js"></script>
    <script src="scripts/playr.fullscreen.js"></script>
</body>
</html>