@{
    Layout = "_layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="css/playr.fanart.css"/>
    <link rel="stylesheet" href="css/playr.timeline.css"/>
    <link rel="stylesheet" href="css/playr.scrollbar.css"/>
}

@section scripts {
    <script src="~/scripts/playr.index.js"></script>
}

<div data-bind="widget: { name: 'fanart', options: { urls: currentTrack.fanart } }"></div>

<section  id="currentTrack">
    <h1 data-bind="text: currentTrack.name"></h1>
    <h2 data-bind="text: currentTrack.artistName"></h2>
    <h2 data-bind="text: currentTrack.albumDisplay"></h2>
</section>


<section id="tray">
    <div id="trayContainer">
        <section id="queue">
            <h2>Current Queue</h2>
            <div class="track">
                <div class="name">Long Live A$AP</div>
                <div class="artist">A$AP Rocky - Long Live A$AP</div>
                <div class="time">4:50</div>
            </div>
            <div class="track">
                <div class="name">Long Live A$AP</div>
                <div class="artist">A$AP Rocky - Long Live A$AP</div>
                <div class="time">4:50</div>
            </div>
            <div class="track">
                <div class="name">Long Live A$AP</div>
                <div class="artist">A$AP Rocky - Long Live A$AP</div>
                <div class="time">4:50</div>
            </div>
            <div class="track">
                <div class="name">Long Live A$AP</div>
                <div class="artist">A$AP Rocky - Long Live A$AP</div>
                <div class="time">4:50</div>
            </div>
            <div class="track">
                <div class="name">Long Live A$AP</div>
                <div class="artist">A$AP Rocky - Long Live A$AP</div>
                <div class="time">4:50</div>
            </div>
            <div class="track">
                <div class="name">Long Live A$AP</div>
                <div class="artist">A$AP Rocky - Long Live A$AP</div>
                <div class="time">4:50</div>
            </div>
            <div class="track">
                <div class="name">Long Live A$AP</div>
                <div class="artist">A$AP Rocky - Long Live A$AP</div>
                <div class="time">4:50</div>
            </div>
            <div class="track">
                <div class="name">Long Live A$AP</div>
                <div class="artist">A$AP Rocky - Long Live A$AP</div>
                <div class="time">4:50</div>
            </div>
            <div class="track">
                <div class="name">Long Live A$AP</div>
                <div class="artist">A$AP Rocky - Long Live A$AP</div>
                <div class="time">4:50</div>
            </div>
            <div class="track">
                <div class="name">Long Live A$AP</div>
                <div class="artist">A$AP Rocky - Long Live A$AP</div>
                <div class="time">4:50</div>
            </div>
            <div class="track">
                <div class="name">Long Live A$AP</div>
                <div class="artist">A$AP Rocky - Long Live A$AP</div>
                <div class="time">4:50</div>
            </div>
            <div class="track">
                <div class="name">Long Live A$AP</div>
                <div class="artist">A$AP Rocky - Long Live A$AP</div>
                <div class="time">4:50</div>
            </div>
            <div class="track">
                <div class="name">Long Live A$AP</div>
                <div class="artist">A$AP Rocky - Long Live A$AP</div>
                <div class="time">4:50</div>
            </div>
        </section>
    </div>
</section>

<section id="menu">
    <img src="images/horizontal-small-logo.png" alt="Playr"/>
</section>

<section id="shutdown" class="hide" data-bind="fadeVisible: showShutdownGraphic">
    <h1>Playr has been shut down</h1>
</section>

<div class="navbar navbar-fixed-bottom">
    <div id="control-panel" class="navbar-inner">
        <section id="left-controls">
            <a data-bind="attr: { href: currentTrack.download }">
                <img class="micro-album" data-bind="attr: { src: currentTrack.albumArtUrl, title: currentTrack.albumName }" />
            </a>
            <i class="playr-icon-star"></i>
            <i class="playr-icon-previous" data-bind="attr: {title: previousTitle}, click: previous"></i>
            <i class="playr-icon-play" data-bind="attr: { title: playPauseTitle, class: playPauseClass}, click: playPause"></i>
            <i class="playr-icon-skip" data-bind="attr: {title: skipTitle}, click: skip"></i>
        </section>
        <section id="right-controls">
             <a href="#" data-bind="click: toogleAllTheThings">
                <i class="playr-icon-menu"></i>
            </a>
        </section>
        <section id="center-controls" data-bind="widget: { name: 'timeline', options: { currentPosition: currentTrack.currentTime, total: currentTrack.totalTime } }"></section>
    </div>
</div>
