/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,200italic);

html {
    background-color: #f2e9e1;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    color: #fff;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 200;
}

html, body {
    margin: 0;
    padding: 0;
}

.content {
    padding: 20px;
}

#currentTrack {
    position: absolute;
    bottom: 30px;
    right: 20px;
    left: 20px;
}

    #currentTrack img {
        height: 250px;
        width: 250px;
        float: left;
        position: absolute;
        bottom: 0;
    }

    #currentTrack .text {
        padding-left: 270px;
    }

        #currentTrack .text h1,
        #currentTrack .text h2 {
            line-height: 1.25em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
        }

        #currentTrack .text h1 {
            font-size: 6em;
            margin-bottom: -10px;
        }
        #currentTrack .text h2 {
            font-size: 4em;
        }

#paused {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 100;
    background-color: rgba(0,0,0,.75);
}

#paused img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -169px 0 0 -109px;
}

#progressBottom {
    position: absolute; 
    bottom: 0;
    width: 100%;
}


.playr-timeline .progressBar {
    background-color: #2e3137;
}