@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,200italic);

/*
    Dark Blue: #1d1f23
    Black: #0e0f11
    Blue: #3c485c
    Green: #62d962    
*/

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

.navbar-fixed-bottom .navbar-inner {
    border: none;
    box-shadow: none;
    background-image: none;
    background-color: #1d1f23;
}

#currentTrack {
    color: #fff;
    position: absolute;
    bottom: 60px;
    right: 20px;
    left: 20px;
}

    #currentTrack h1,
    #currentTrack h2 {
        line-height: 1.25em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
    }

    #currentTrack h1 {
        font-size: 5em;
        margin-bottom: -10px;
    }

    #currentTrack h2 {
        font-size: 3em;
    }

#control-panel {
    height: 50px;
}

#left-controls {
    width: 140px;
    float: left;
    padding: 10px;
}

    #left-controls a:hover,
    #left-controls a:active,
    #left-controls a:visited {
        line-height: 25px;
        outline: none;
        border: none;
        text-decoration: none;
    }

    #left-controls .micro-album {
        margin-right: 10px;
    }

    #left-controls i {
        color: #37527e;
        cursor: pointer;
        vertical-align: middle;
    }

        #left-controls i:hover {
            color: #3c485c;
        }

    #left-controls .playr-icon-star,
    #left-controls .playr-icon-star:hover {
        color: #ffde47;
        margin-right: 10px;
    }

    #left-controls .playr-icon-play,
    #left-controls .playr-icon-pause {
        margin: 0 2px;
    }

#center-controls {
    margin: 0 125px 0 160px;
}

    #center-controls .playr-timeline {
        margin-top: 21px;
    }

#right-controls {
    width: 100px;
    height: 30px;
    line-height: 30px;
    float: right;
    padding: 10px;
}

    #right-controls i {
        color: #37527e;
        cursor: pointer;
        vertical-align: middle;
    }

        #right-controls i:hover {
            color: #3c485c;
        }

img.micro-album {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

#tray {
    display: none;
    color: #eee;
    font-size: 30px;
    line-height: 55px;
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 50px;
    left: 0;
    z-index: 100;
    overflow: hidden;
    background-color: rgba(0,0,0,0.6);
}

    #tray #trayContainer {
        display: none;
        overflow: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

#menu {
    display: none;
    height: 30px;
    background-color: #1d1f23;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
    padding: 10px;
}

#queue .track {
    padding: 0 0 0 100px;
}

    #queue .track .name,
    #queue .track .artist,
    #queue .track .time {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #queue .track .name {
        width: 40%;
    }

    #queue .track .artist {
        width: 50%;
    }

    #queue .track .time {
    }

#shutdown {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 100;
    background-color: rgba(0,0,0,.75);
}

    #shutdown h1 {
        font-size: 96px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -20px 0 0 -492px;
    }

/********************
       Icons
********************/

@font-face {
    font-family: 'Playr';
    src: url('../fonts/playr-regular-webfont.eot?v=1.0.0001');
    src: url('../fonts/playr-regular-webfont.eot?#iefix&v=1.0.0001') format('embedded-opentype'), url('../fonts/playr-regular-webfont.woff?v=1.0.0001') format('woff'), url('../fonts/playr-regular-webfont.ttf?v=1.0.0001') format('truetype'), url('../fonts/playr-regular-webfont.svg?v=1.0.0001#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


[class^="playr-icon-"],
[class*=" playr-icon-"] {
    display: inline-block;
    font-family: Playr;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.playr-icon-lg {
    font-size: 1.3333333333333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

.playr-icon-2x {
    font-size: 2em;
}

.playr-icon-3x {
    font-size: 3em;
}

.playr-icon-4x {
    font-size: 4em;
}

.playr-icon-5x {
    font-size: 5em;
}

.playr-icon-play:before {
    content: "\25b6";
}

.playr-icon-pause:before {
    content: "\1d101";
}

.playr-icon-skip:before {
    content: "\2192";
}

.playr-icon-previous:before {
    content: "\2190";
}

.playr-icon-menu:before {
    content: "\2254";
}

.playr-icon-star:before {
    content: "\2605";
}

.playr-icon-vol-none:before {
    content: "\1f507";
}

.playr-icon-vol-one:before {
    content: "\1f508";
}

.playr-icon-vol-two:before {
    content: "\1f509";
}

.playr-icon-vol-three:before {
    content: "\1f50a";
}
