.playr-scrollbar.scrollable-overflow {
    overflow: hidden;
    position: relative;
}

.playr-scrollbar .scrollable-area {
    overflow: auto;
    position: relative;
}

.playr-scrollbar .scrollbar-track {
    position: absolute;
    transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

    .playr-scrollbar .scrollbar-track.active,
    .playr-scrollbar .scrollbar-track:hover {
        background-color: rgba(0,0,0,.1);
    }

    .playr-scrollbar .scrollbar-track.axis-x {
        height: 10px;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .playr-scrollbar .scrollbar-track.axis-y {
        width: 10px;
        top: 0;
        right: 0;
        bottom: 0;
    }

.playr-scrollbar .scrollbar-handle {
    position: absolute;
    background-color: #acacac;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

.playr-scrollbar .axis-x .scrollbar-handle {
    height: 10px;
}

.playr-scrollbar .axis-y .scrollbar-handle {
    width: 10px;
}

.playr-scrollbar .scrollbar-track:hover .scrollbar-handle,
.playr-scrollbar .scrollbar-handle:hover {
    background-color: #6f6f6f;
    transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -webkit-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
}

.playr-scrollbar .scrollbar-handle.active {
    background-color: #525252;
    transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -webkit-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
}
